<div class="container">
  <h1><%= @task.title %></h1>
  <div class="my_card">
    <p><%= @task.details %></p>
  </div>
  <% if @task.completed == false %>
    <p><i class="far fa-square"></i> This task is not completed yet.</p>
  <% else %>
    <p><i class="far fa-check-square"></i> This task is completed.</p>
  <% end %>
  <p> <%= link_to("Edit this task", "/tasks/#{@task.id}/edit", class: "btn btn-outline-danger") %> </p>
  <p> <%= link_to("Back to list", "/tasks", class: "btn btn-outline-dark") %> </p>
</div>

