@import "task-home";
@import "new-task-form";

body{
  font-family: sans-serif;
}
.my_card{
  border: 1px solid gray;
  padding: 8px;
  background: #f7f6f4;
}

p{
  margin-top: 8px;
}
.btn-outline-dark{
  margin-top: 8px;
}

