.tasks{
  list-style-type: none;
  padding: 0;

  i {
    margin: 0 8px;
  }
  p {
    margin-bottom: 8px;
    background-color: #efeeec;
    padding: 8px;
  }
  h3 {
    margin-top: 3px;
    margin-left: 16px;
    font-weight: bold;
  }
}
.title-content{
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
}
.profile-bar{
  background-color: #46529d;
  height: 35vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 992px) {
    height: 100vh;
  }
}
.tasks-bar{
  @media (min-width: 992px) {
    max-height: 100vh;
  }
}
.index-container {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 992px) {
    grid-template-columns: 2fr 4fr;
  }
}


